<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="URL" value="https://www.amazon.com.mx/"/>
	    <add key="user" value="norberto.cabrera@unosquare.com"/>
	    <add key="password" value="T357T357"/>
	    <add key="search1" value="Samsung Galaxy S9 64GB"/>
	    <add key="search2" value="Alienware Aw3418DW"/>
	</appSettings>
</configuration>